.div1{
    width: 50%;
    height: 50%;
    float: left;
    background-color: aquamarine;
    font-size: 20px;
}

.div2{
    width: 50%;
    height: 50%;
    float: right;
    background-color: yellow;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .div1{
        width: 100%;
        background-color: aquamarine;
        font-size: 20px;
    }

    .div2{
        width: 100%;
        background-color: blueviolet;
        font-size: 20px;
    }
}